<section>
    <div class="toast-container">
    <div class="PetToast toast main " id="PetToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img id="img_here" src="" class="rounded me-2">
            <strong><%=user.username%></strong>
        </div>
        <div class="toast-body" id="PasswordToastBody">
            <strong>Your password pet is to weak to continue!</strong>
            <strong>Hurry and update your password!</strong>
        </div>
        <a href="/index">
            <button class="custom_button">New Password Pet</button>
        </a>
    </div>
    </div>
</section>