<!DOCTYPE html>
<html lang="en">

<head>
    <title>Password Pet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/final_stage.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/toast.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <!-----------navbar---------------------------->
    <%- include('./partials/navbar.ejs', {user: user}) %>

    <!-----------toast----------------------------->
    <%- include('./partials/toast.ejs', {user: user}) %>
<section>
    <div class="main" id="final_stage_box">
        <form>
            <h1 class="custom_placeholder">Congratulations on creating a password pet!</h1>
            <div class="main group">
                <label for="">Strength of password</label>
                <div class="power-container">
                    <div id="Strength">
                    </div>
                </div>
            </div>
           
            <div class="main group">
                <label for="">Speed of password</label>
                <div class="power-container">
                    <div id="Speed">
                    </div>
                </div>
            </div>
            
            <div class="main group">
                <label for="">Stanima of password</label>
                <div class="power-container">
                    <div id="Stanima">
                    </div>
                </div>
            </div>
            
            <div class="main group">
                <label for="">Life expectency password</label>
                <div class="power-container">
                    <div id="Life">
                    </div>
                </div>
            </div>
        </form>
        <h3>Will your password pet survive in the wild?</h3>
        <a href="/final_boss">
            <button class="custom_button">Play</button>
        </a>
    </div>
</section>
<section>
    <div class="main" id="dragon_box">
        <div class="mt-4 text-center">
        <h2 class="custom_placeholder"><%=user.username%>'s Dragon:</h2>
            <img id= "strength_img" src="./images/EGG.png" alt="Dragon" height="450">
        </div>
    </div>
</section>

<!------------script--------------------->
<!--<script src="/javascripts/script.js"></script>-->
<script src="/javascripts/final.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!------------lottie butterfly------------>
 <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
 <dotlottie-player src="https://lottie.host/a1c46ea0-d213-4433-b7f8-8dccd70b4fa5/pnfFYlpB8h.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" class="animation-top-right" loop autoplay></dotlottie-player>
</body>
</html>