<!DOCTYPE html>
<html lang="en">

<head>
    <title>Password Pet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <!-----------navbar---------------------------->
    <%- include('./partials/navbar.ejs') %>


    <div class="main" id="aboutbox">
        <form>
            <p class="custom_placeholder">Guidance</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corporis dolorum, voluptas doloribus, sed molestiae consectetur consequatur non vitae nihil, voluptatum facilis quod totam voluptatibus ea magnam cumque quis esse!</p>
            
        </form>
    </div>
    
</body>
</html>