<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Pet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="fade-overlay"></div>
<!-----------navbar---------------------------->
    <%- include('./partials/navbar.ejs') %>

<!-----------password strength meter----------->

<!-----------animalbox------------------------->
  <!-- <div class="main" id="carusel_box">-->
        <section id="carusel_box" class="main text-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="./images/eggis11.png" alt="Egg0">
                            </div>
                            <div class="col-md-4">
                                <img src="./images/eggis1.png" alt="Egg1">
                            </div>
                            <div class="col-md-4">
                                <img src="./images/eggis2.png" alt="Egg2">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="./images/eggis3.png" alt="Egg3">
                            </div>
                            <div class="col-md-4">
                                <img src="./images/eggis4.png" alt="Egg4">
                            </div>
                            <div class="col-md-4">
                                <img src="./images/eggis5.png" alt="Egg5">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img  src="./images/eggis6.png" alt="Egg6">
                            </div>
                            <div class="col-md-4">
                                <img  src="./images/eggis7.png" alt="Egg7">
                            </div>
                            <div class="col-md-4">
                                <img  src="./images/eggis8.png" alt="Egg5">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img  src="./images/eggis9.png" alt="Egg6">
                            </div>
                            <div class="col-md-4">
                                <img  src="./images/eggis10.png" alt="Egg7">
                            </div>
                            <div class="col-md-4">
                                <img  src="./images/eggis12.png" alt="Egg5">
                            </div>
                        </div>
                    </div>
                </div>
            
        
                <!-- Navigation Buttons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    
    <section class="main" id="Level_box">
        <div class="mt-2 d-flex align-items-center">
            <h2 class="custom_placeholder me-3">Level:</h2>
            <i id="level_icon" class="bi bi-0-square-fill fs-1"></i>
        </div>
    </section>

    <!-- Image & Text Below the Carousel -->
    <div class="main" id="animalbox">
        <section>
            <div class="mt-4 text-center">
                <h2 class="custom_placeholder">Your Dragon:</h2>
                <div class="strength_container">
                    <img id= "strength_img" src="./images/EGG_fire.png" alt="Dragon" height="450">
                </div>
            </div>
            <div class="main group">
                <label for="">Strength of password</label>
                <div class="power-container">
                    <div id="power-point">
                    </div>
                </div>
            </div>
        </section>
    </div>
        <section>
            <div class="main " id="helptx">
                <form>
                    <h2 class="mt-4">Password guidance:</h2>
                    <p id="help_text" class="mt-4 center-text custom_placeholder">Welcome to Password Pet, I will guide you on how to create a strong and secure password</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, esse assumenda sunt mollitia saepe harum omnis et ex natus officia ipsum alias. Inventore minima, atque mollitia nemo expedita impedit quas!</p>
                </form>
            </div>
        </section>

        <section>
            <div class="password">
                <div class="main group">
                    <h1 class="custom_h1">Password Pet</h1>
                    <h3>Enter your login credentials</h3>
                    <form action="">
                        <label for="first">Username:</label>
                        <input type="text" id="first" name="first" placeholder="Enter your Username" required>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your Password" required>
                        <div class="wrap">
                            <button class="custom_button" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
 
<!------------script--------------------->
   <script src="/javascripts/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!------------lottie butterfly------------>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/a1c46ea0-d213-4433-b7f8-8dccd70b4fa5/pnfFYlpB8h.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" class="animation-top-right" loop autoplay></dotlottie-player>
</body>
</html>
