<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Pet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="fade-overlay"></div>
<!-----------navbar---------------------------->
    <%- include('./partials/navbar.ejs') %>

<!-----------password strength meter----------->

<!-----------animalbox------------------------->
   <div class="main" id="animalbox">
        <section id="iconEgg" class="text-center">
            <div id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="rounded-circle d-block mx-auto" src="./images/egg0.png" alt="Egg0">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle d-block mx-auto" src="./images/egg1.png" alt="Egg1">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle d-block mx-auto" src="./images/egg2.png" alt="Egg2">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle d-block mx-auto" src="./images/egg3.png" alt="Egg3">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle d-block mx-auto" src="./images/egg4.png" alt="Egg4">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle d-block mx-auto" src="./images/egg5.png" alt="Egg5">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle d-block mx-auto" src="./images/egg6.png" alt="Egg6">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle d-block mx-auto" src="./images/EGG_fire.png" alt="Egg7">
                    </div>
                </div>
        
                <!-- Navigation Buttons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        
            <!-- Image & Text Below the Carousel -->
            <div class="mt-4 text-center">
                <p class="custom_placeholder">Your Dragon:</p>
                <div class="strength_container">
                    <img id= "strength_img" src="./images/EGG_fire.png" alt="Dragon" height="450" class="d-block mx-auto">
                    <p class="custom_placeholder">Level:</p>
                </div>
            </div>
            <div class="main group">
                <label for="">Strength of password</label>
                <div class="power-container">
                    <div id="power-point">
                    </div>
                </div>
            </div>
        </section>
    </div>
        <section>
            <div class="main " id="helptx">
                <form>
                    <h2 class="custom_placeholder">Password guidance:</h2>
                    <p id="help_text" class="center-text custom_placeholder">Welcome to Password Pet, I will guide you on how to create a strong and secure password"</p>
                </form>
            </div>
        </section>

        <section>
            <div class="password">
                <div class="main group">
                    <h1 class="custom_h1">Password Pet</h1>
                    <h3>Enter your login credentials</h3>
                    <form action="">
                        <label for="first">Username:</label>
                        <input type="text" id="first" name="first" placeholder="Enter your Username" required>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your Password" required>
                        <div class="wrap">
                            <button class="custom_button" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
 
<!------------script--------------------->
   <script src="/javascripts/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!------------lottie butterfly------------>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/a1c46ea0-d213-4433-b7f8-8dccd70b4fa5/pnfFYlpB8h.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" class="animation-top-right" loop autoplay></dotlottie-player>
</body>
</html>
