<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Pet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/intro.css">
</head>
<body>
<!--   <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="game-container">--> 
    <div class="text_box"></div>
    
    <audio id="backgroundAudio" loop>
        <source src="./images/intro_2.mp3" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
    <button id="soundToggle" class="sound-btn">🔊</button>
    
 <!-- Volume slider wrapped in hidden-slider div -->
<div class="hidden-slider">
    <input type="range" id="volumeSlider" min="0" max="100" step="1" value="100">
</div>
    
    <div id="intro">
    <div class="transition transition-1 is-active">
        <h2 class="center-text welcome is-active">Welcome to the Pet Password Learning Platform!</h2>
        <h3 id="typewriter" class="center-text welcome is-active"></h3>
        <p id="delayedText" class="center-text welcome is-active">Create Your Spirit Animal —your loyal guardian and first line of defense against the mischievous villains of the deep, dark web!</br>
            Together, we'll dodge digital traps, outsmart cyber tricksters, and level up your security skills.</br>
            Let's make the internet a safer playground —one strong password at a time!</p>
<!-----------Button added below the text-->
        <button id="continueButton" class="continue-btn">Continue</button>

        </div>
        </div>

 <!--      </div>
        </div>
        </div>
        </div>--> 
        <script src="/javascripts/intro.js"></script>
        
<!------------lottie butterfly------------>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/a1c46ea0-d213-4433-b7f8-8dccd70b4fa5/pnfFYlpB8h.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" class="animation-top-right" loop autoplay></dotlottie-player>
</body>
</html>
