body {
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../images/mountain.jpg);
    background-size: cover;
    color: #0e0f0f;
    font-size: 20px;
    position: relative;
  }

  .main {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    flex-wrap: nowrap;
    z-index: 10;  
    position: relative;
  }


#about_box{
    position: fixed;
    top: 35px;
    left: 300px;
    width: 570px;
    height:1200px;
    z-index: 500;
    background-color: #031320;
    color:white;
}

#logo_box{
    position: fixed;
    top: 35px;
    right: 300px;
    width: 570px;
    height:1200px;
    z-index: 500;
    background-color: #031320;
}

p{
    font-size: 18px;
}

/*butterfly*/
.animation-top-right {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    width: 100px; 
    height: 100px;
    z-index: 1000; 
  }