body {
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../images/final.jpg);
    background-size: cover;
    color: #0e0f0f;
    font-size: 20px;
  }

  .main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    flex-wrap: nowrap;
    
    
  }

  #strength_img {
    position: fixed;
    z-index: 1002;
   
   top: 200px;
   left: 350px;
    align-items: center;
  }  


.group {
    margin-top: 10px;
    margin-bottom: 30px;
}

.custom_button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #77bef1ee;
    width: 100%;
    font-size: 16px;
  }

/*butterfly*/
.animation-top-right {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    width: 100px; 
    height: 100px;
    z-index: 1000; 
  }

#dragon_box{
  position: fixed;
  top: 100px;
  left: 100px;
  width: 900px;
  height: 700px;
  z-index: 500;
}

#final_stage_box{
    position: fixed;
    top: 100px;
    right: 300px;
    width: 570px;
    height:700px;
    z-index: 500;
}


.wrap {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    bottom: 30px;
  }
  
  .group {
    width: auto;
    text-align: center;
  }
  
  .group label {
    display: block;
    padding: 7px 0; /* this is for power size*/
  }
  
  .group input {
    border: none;
    outline: none;
    padding: 10px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #eaeff2;
    color: #3ba62f;
    font-size: 20px;
  }
  
  .group .power-container {
    background-color: #2E424D;
    width: 100%;
    height: 10px;
    border-radius: 5px;
  }
  
  .group .power-container #Strength {
    background-color: #D73F40;
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  }
  .group .power-container #Speed {
    background-color: #D73F40;
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  }

  .group .power-container #Stanima{
    background-color: #D73F40;
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  }

  .group .power-container #Spirit {
    background-color: #D73F40;
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9998; 
    filter: grayscale(100%);
    pointer-events: none; 
}

body.inactive .toast-container {
  pointer-events: auto;
  filter: none;
}

.stats-container {
  display: flex; 
  gap: 170px; 
  padding-left: 90px;
}
#Life, #points {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

label{
  font-size: 18px;
  font-weight: bold;
}
p{
  font-size: 20px;
}