body {
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../images/mountain.jpg);
    background-size: cover;
    color: #0e0f0f;
    font-size: 20px;
    position: relative;
  }

  .main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    flex-wrap: nowrap;
    z-index: 10;  
    position: relative;
  }

  .custom_button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #77bef1ee;
   width: 200px;
}



  #dragon_box{
    position: fixed;
    top: 100px;
    left: 100px;
    width: 800px;
    height: 700px;
    z-index: 500;
  }

  #final_boss_box{
    background-color: black !important;
    color: white;
    position: fixed;
    top: 100px;
    right: 100px;
    width: 800px;
    height: 700px;
    z-index: 500;
  }
