body {
  margin: 0;
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(../images/intro.jpg);
  background-size: cover;
}
/*
.game-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto; 
}*/

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 6s ease-in-out;
    
  }
  .welcome {
    transition: 1s ease-in-out;
    z-index: 1003;
    color: white;
    text-align: center;
    opacity: 0;
  }
  
  #delayedText {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  #delayedText.visible {
    opacity: 1;
  }
  
  .welcome.is-active  {
    opacity: 1;  
  }
  
  .transition-1.is-active {
    opacity: 1;
    pointer-events: all;
  }
  
.transition {
  
  position: relative;
  z-index: 1000; 
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
  text-align: center;       
 }
 
#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 1;  
  transition: opacity 1.5s ease-in-out; 
  z-index: 900;
}

#intro.hide {
  opacity: 0;
  pointer-events: none; 
}

/*butterfly*/
.animation-top-right {
  position: fixed; 
  top: 10px; 
  right: 10px; 
  width: 100px; 
  height: 100px;
  z-index: 1000; 
}

#introVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 100; 
}

.sound-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.hidden-slider {
  position: fixed;
  bottom: 5px;
  left: 20px;
  width: 100px;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;  
}

.sound-btn:hover + .hidden-slider,
.hidden-slider:hover {
  opacity: 1;  
  pointer-events: auto;  
  z-index: 1001;  
}


.text_box {
  background-color: rgba(112, 170, 34, 0.7);
  position: fixed;
  width: 2300px;
  height: 400px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 500;
  text-align: center;
  border-radius: 10px;
}


.continue-btn {
  position: absolute;
  bottom: 50px;
  padding: 10px 20px;
  background-color: #f1c40f;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1001; 
}

.continue-btn.visible {
  opacity: 1;
}
