section {
    padding-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 1000;
    color: white;
    background-color: #77bef1ee;
}

#logo {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    width: 150px;
}

#logo:hover {
    box-shadow: 0 0 2px 1px #77bef1ee ;
  }

#navbar-toggler {
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: #b4e4ea;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#navbar {
    background-color: #77bef1ee;
    color: white;
}


