body {
  margin: 0;
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(../images/home.jpg);
  background-size: cover;
  color: #0e0f0f;
  font-size: 20px;
}

  .main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    flex-wrap: nowrap;
  }

  .group {
    width: auto;
    text-align: center;
  }
  
  .group label {
    display: block;
    padding: 15px 0;
  }

  .custom_button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #77bef1ee;
    width: 100%;
    font-size: 16px;
  }

/*butterfly*/
.animation-top-right {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    width: 100px; 
    height: 100px;
    z-index: 1000; 
  }

  .eye-icon {
    position: absolute;
    top: 50%;
    right: 1px; 
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
  }


  
  .eye-icon:hover {
    color: #333;
  }
  
  .password-container {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .password-container input {
    width: 100%;
    padding: 15px; 
    padding-right: 40px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 20px;
    background-color: #eaeff2; 
    outline: none;
  }
  